{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign category_words = site_categories | split:',' | sort %}

<section>
  <h2><a href="{{ root_url }}/{{ site.archive_dir}}">Archives</h2>
  <ul>
	{% for post in site.posts reverse %}
	{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
	{% capture this_month %}{{ post.date | date: "%m" }}{% endcapture %}
	{% unless _year == this_year and _month == this_month %}
	  <li><a href="{{ root_url }}/{{ site.archive_dir }}#{{ this_year }}-{{ this_month }}-ref" rel="nofollow">{{ this_year }}-{{ this_month }}</a></li>
	  {% assign _year = this_year %}
	  {% assign _month = this_month %}
	{% endunless %}
	{% endfor %}
  </ul>
</section>
