<!--[if lt IE 9]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
<script src="{{ root_url }}/{{ site.asset_dir.javascripts }}/jquery.tagcanvas.min.js" type="text/javascript"></script>
<script type="text/javascript">
/**
 * This time the canvas is started using the jQuery  $(document).ready() event handler instead of using window.onload, though for these examples it shouldn't make any difference. If the page had contained images, using window.onload would have meant the canvas not starting until the images had loaded, whereas $(document).ready() happens earlier in the loading process.
 *
  window.onload = function() {
	try {
	  TagCanvas.Start('myCanvas','tags',{
		textColour: '#ff0000',
		outlineColour: '#ff00ff',
		reverse: true,
		depth: 0.8,
		maxSpeed: 0.05
	  });
	} catch(e) {
	  // something went wrong, hide the canvas container
	  document.getElementById('myCanvasContainer').style.display = 'none';
	}
  };
**/
  $(document).ready(function() {
	if(!$('#myCanvas').tagcanvas({
	  textFont : 'Trebuchet MS, Helvetica, sans-serif',
	  textColour : '#f27',
	  textHeight : 15,
	  outlineMethod : 'block',
	  outlineColour : 'rgb(164, 250, 115)',
	  outlineIncrease: 5,
	  outlineThickness: 3,
	  outlineOffset: 1,
	  outlineRadius: 30,
	  pulsateTo: 0.2,
	  pulsateTime: 0.5,
	  wheelZoom: true,
	  maxSpeed : 0.05,
	  minBrightness : 0.2,
	  depth : 0.92,
	  freezeActive: true,
	  freezeDecel: true,
	  pulsateTo : 0.6,
	  initial : [0.2, 0],
	  lock : 'y',
	  shape: 'vcylinder',
	  decel : 0.98,
	  reverse : true,
	  hideTags : true,
	  shadow : '#452',
	  shadowBlur : 3,
	  weight : false,
	  imageScale : null,
	  fadeIn : 1000,
	  clickToFront : 800
	},'tag-cloud-list-items')) {
	  // something went wrong, hide the canvas container
	  $('#myCanvasContainer').hide();
	}
  });
</script>


{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<section>
  <h2><a href="{{ root_url }}/{{ site.tag_dir}}">Tag Cloud</a></h2>
  <div id="myCanvasContainer">
      <canvas width="240" height="320" id="myCanvas" style="background-color: #F9F9F9">
        <!--p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!
		Anything in here will be replaced on browsers that support the canvas element</p-->
      </canvas>
  </div>

  <div id="tag-cloud-list-items"><ul>
    {% for item in (0..site.tags.size) %}
	{% unless forloop.last %}
		{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
		<li><a href="{{ root_url }}/{{ site.tag_dir }}#{{ this_word | cgi_escape }}-ref" rel="nofollow">{{ this_word }}
		</a></li>
    {% endunless %}
	{% endfor %}
  </ul></div>
</section>
