{% capture categories %}{% if post %}{{ post.categories | size }}{% else %}{{ page.categories | size }}{% endif %}{% endcapture %}
{% capture tags %}{% if post %}{{ post.tags | size }}{% else %}{{ page.tags | size }}{% endif %}{% endcapture %}

<h1 class="post-title">
  <a href="{{ root_url }}{{ post.url }}" target="_blank">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a>
</h1>

<time {% if is_ref == true %}{{ id_year_month }}{% endif %} datetime="{{ post.date | datetime | date_to_xmlschema }}" pubdate>{{ post.date | date: "<span class='month'>%b</span> <span class='day'>%d</span> <span class='year-hide'>%Y</span>"}}
</time>

{% if category != '0' or tags != '0' %}
<footer>
  {% include post/categories.html %}
  {% include post/tags.html %}
</footer>
{% endif %}
