{% capture site_categories %}{% for category in pages_list %}{{ category | first | join: "/" }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
<!-- site_categories: {{ site_categories }} -->
{% assign category_words = site_categories | split:',' | sort %}
<!-- category_words: {{ category_words }} -->

<ul class="tag-box">
  {% for item in (0..pages_list.size) %}
  {% unless forloop.last %}
	  {% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
	  <li><a class="label label-primary" href="#{{ this_word }}-ref" title="{{ this_word }}" rel="nofollow">{{ this_word }} <sup>{{ pages_list[this_word].size }}</sup><!-- {{ this_word | capitalize }} -->
	  </a></li>
  {% endunless %}
  {% endfor %}
</ul>

{% for item in (0..pages_list.size) %}
{% unless forloop.last %}
{% capture this_word %}{{ category_words[item] | strip_newlines }}{% endcapture %}
  <!--h2 id="{{ this_word | cgi_escape }}-ref">{{ this_word }}</h2-->
  <h2 id="{{ this_word }}-ref">{{ this_word }}</h2>
  <ul class="tag-list">
  {% for post in pages_list[this_word] %}
  {% if post.title != null %}
  <li><span>{{ post.date | date: "%d&ensp;%b&ensp;%Y" }}</span> &raquo; <a href="{{ root_url }}{{ post.url }}" rel="nofollow" target="_blank">{{ post.title }}</a></li>
  {% endif %}
  {% endfor %}
  </ul>
{% endunless %}
{% endfor %}
