<div id="f_left">Theme created by <a href="http://www.lessthanweb.com/products/plain-fields" target="_blank">Jason Long</a> - Powered by <a href="https://github.com/Alfred-Sun" rel="nofollow" target="_blank">Alfred Sun</a>
</div>
<div id="f_right">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Copyright
	</a> &copy; {{ site.time | date: "%Y" }} - <a href="{{ site.url }}" title="{{ site.title }}" rel="nofollow" target="_blank">{{ site.author.name }}</a> 
	{% include cnzz_statistics.html %}
</div>
<div class="scroll-top-down">
	<div class="js-scroll-top" title="返回顶部"><i class="icon-chevron-circle-up"></i></div>
	<!--div class="js-scroll-comment" title="查看评论"><i class="icon-comments-o"></i></div-->
	<div class="js-scroll-down" title="转到底部"><i class="icon-chevron-circle-down"></i></div>
</div>
