---
layout: default
navbar: blog
---

<section id="main-content">
          <h2>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages"><span class="octicon octicon-link"></span></a>This is the 1st post for test.</h2>

<p>This automatic page generator is the easiest way to create beautiful pages for all of your projects. Author your page content here using GitHub Flavored Markdown, select a template crafted by a designer, and publish. After your page is generated, you can check out the new branch:</p>

<pre><code>$ cd your_repo_root/repo_name
$ git fetch origin
$ git checkout gh-pages
</code></pre>

<p>If you're using the GitHub for Mac, simply sync your repository and you'll see the new branch.</p>

</section>

<aside id="sidebar">

	<h2>Recent Posts</h2>
	<ul class="posts">
		{% for post in site.posts limit: site.recent_posts %}
		<a href="{{ root_url }}{{ post.url }}"><li><i class="icon-hand-o-right"></i>{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</li></a>
		{% endfor %}
	</ul>

	<h2>Contact Me</h2>
	<ul class="sns-links">
		<a href="{{ site.github_site }}" target="_blank"><li><i class="icon-github"></i>@Alfred Sun</li></a>
		<a href="{{ site.weibo_site }}" target="_blank"><li><i class="icon-weibo"></i>@sama</li></a>
		<a href="{{ site.baidu_site }}" target="_blank"><li><i class="icon-paw"></i>@baidu</li></a>
		<a href="{{ site.qq_site }}" target="_blank"><li><i class="icon-qq"></i>@qq</li></a>
		<a href="{{ site.byhh_site }}" target="_blank"><li><img src="{{ root_url }}/images/dfbb_logosmall.gif" />@dfbb</li></a>
		<a href="mailto:{{ site.author.gmail }}"><li><i class="icon-envelope-o"></i>{{ site.author.gmail }}</li></a>
	</ul>


</aside>
