@charset utf-8;

/*
author:cho
site:http://pagecho.com
css-flie-last-update:2012.5.19
*/
/*
::-webkit-scrollbar-track-piece{
	background-color:#EEE;
	-webkit-border-radius:0;
}
::-webkit-scrollbar{
	width:16px;
	height:8px;
}
::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#DDD;
	-webkit-border-radius:4px;
	outline:2px solid #EEE;
	outline-offset:-2px;
	border: 2px solid #EEE;
}
::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#40AA52;
	-webkit-border-radius:4px;
}
img {
border:0;
}
::selection {
    color: #fff;
	background-color: #40AA52;
    text-shadow:none;
}
::-moz-selection {
    color: #fff;
	background-color: #40AA52;
    text-shadow:none;
}
*/

input textarea {
	outline:none;
}

body {
	line-height:180%;
	font-size:12px;
	font-family:'Microsoft Yahei',Verdana,Arial,Helvetica,sans-serif;
	text-align:center;
	color:#222;
	margin:0;
}

body,.hover {
	background:#eeeeee;
}

.top a:hover, a:hover{color: #E50E79;}

.container {
	width: 100%;
	position: relative;
	text-align: center;
}
.top {
	line-height: 24px;
	width: 100%;
	height: 24px;
	font-size: 12px;
	background: rgba(255,255,255,0.6);
	text-transform: uppercase;
	z-index: 9999;
	opacity: 0.6;
	filter: alpha(opacity=60);
	top: 0.4px;
	position: fixed;
	background-color: #40aa52;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
}
.top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: blue;
	font-weight: bold;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
	text-decoration: none;
}
.main {
	width: 800px;
	margin: 50px auto 30px auto;
	clear: both;
}
.content {
    background-color: #fff;
    height: 450px;
    font-size: 14px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
	border: 1px solid #CCCCCC;
	background: #E2E2E2;
}
h1 {
	line-height: 50px;
	font-size: 30px;
	clear: both;
	margin: 20px auto 30px;
}
.content p{
    text-align: justify;
    line-height: 30px;
	margin: auto;
}
h2 {
	font-size: 24px;
	clear: both;
	margin: 10px auto;
}

