{% unless categories == '0' %}
<span class="categories">
  posted in 
  {% if post %}
    {% for category in post.categories %}
		<a href="{{ root_url }}/{{ site.category_dir }}#{{ category }}-ref"" title="{{ category }}" rel="category">{{ category | join: "/" }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  {% else %}
    {% for category in page.categories %}
		<a href="{{ root_url }}/{{ site.category_dir }}#{{ category }}-ref"" title="{{ category }}" rel="category">{{ category | join: "/" }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  {% endif %}
</span>
{% endunless %}
