<div class="hide">
	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253608568'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1253608568%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<div class="scroll-top-down">
	<div class="js-scroll-top" title="返回顶部"><i class="icon-chevron-circle-up"></i></div>
	<div class="js-scroll-comment" title="查看评论"><i class="icon-comments-o"></i></div>
	<div class="js-scroll-down" title="转到底部"><i class="icon-chevron-circle-down"></i></div>
</div>
